.yellow {
    --color1: #e1d767;
    --color2: #d3f6da;

}

.red {
    --color1: #e30c0c;
    --color2: #d3f6da;

}

.blue {
    --color1: #0c37e3;
    --color2: #d3f6da;

}

.green {
    --color1: #067e03;
    --color2: #d3f6da;

}