#container {
    width: min(75vw, 75vh);
    aspect-ratio: 1;

    display: grid;

}

.box {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid lightgray;

}

.ball {
    --color1: #000000;
    --color2: #000000;

    -webkit-box-sizing: border-box;
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 50%;

    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
    background: radial-gradient(circle at top left, var(--color1), var(--color2));

    animation: left 500ms forwards;

}

.red {
    --color1: #e1d767;
    --color2: #d3f6da;

}

@keyframes left {
    to {
        transform: translateY(1000%)
    }

}